.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  min-width: 20px !important;
}

.nav-icon {
  height: 5px;
}

.header {
  padding: 6px;
}

.body {
  padding: 6px
}

.center {
  width: 100%;
}